<html>
    <head>
     <link rel="stylesheet" href="/fridge.css">
    </head>
    
    <body>
        <a href="/">All Notes</a>
        <a href="/noteForm">New Note</a>
        <a href="/deleteForm">Delete Note</a>
        
        {{{body}}}
        
    </body>
</html>