<h2>Fridge Note</h2>
<div class="addForm">
<form action="/Add" method="post">

    <div class="item">
        <span class=label>Title</span><span class=input><input type=text name="title"></span>
    </div>
    
        <br>
    <div class="item">
        <span class=label>Author</span><span class=input><input type=text name="author"></span>
    </div>
<br>
        
    <div class="txt_box">
        <span class=area_input><textarea cols="100%" rows="6" name="body"></textarea></span>
    </div>
        <br>

        <div class="submit">
            <span class=submit><input type="submit" value="Post to Fridge"></input></span>
    </div>

</form>
</div>
